# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production -- not this time
# /build 

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 移动部分先不同步，不干扰主要任务 
/ReactDemoMobile