.TodoItem {
    display: flex;
    justify-content:space-between;
    align-items: center;
    /*border-top-right-radius: 50%; */
    border-radius: 50%;
}

.TodoItem > .tagDiv {
    height: 54px;
    margin-right:10px; 
    width: 20px;
    border: 1px darkblue red;
}

.TodoItem > .title {
    flex-grow: 1;
    padding: 0.5em;
    margin-right: 1em; 
    border-bottom:1px slategray solid;
    font-family: Papyrus;
}

.TodoItem button {
    padding: 0px 10px 0px 10px;
    border-radius: 2px;
    border: 0px;
    color: wheat;
    height: 54px;
    border-left: 1px solid #53c5b9;
    font-family: hannotate SC;
}

/*.TodoItem button:hover{
    background: linear-gradient(to bottom, #4c6ca1, #5f86cf);
    color: #edeef1;
}*/
